<style type="text/css">
#source-select textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 6px 8px;
}
</style>

<h3>Linked data source</h3>
<div id="source-select">
  <p>
  Paste text in the block below that contains a URL from a site supported by PeriodO.
  </p>
  <p>Currently supported formats:</p>
  <ul>
    <li>URLs from the <a href="http://worldcat.org">WorldCat</a> catalog.</li>
    <li>URLs from <a href="http://dx.doi.org">DOI lookup service</a>, searchable with <a href="http://crossref.org">CrossRef</a></li>
    <li>A DOI in the format doi:xxx.yyy (as included in many citation styles)</li>
  </ul>
  <textarea></textarea>
  <div class="message" style="position: relative;">
    <span id="source-loading"></span>
    <span id="message-text"></span>
  </div>
</div>

<div id="source-accept-dialog" class="hide">
  <div id="source-information"></div>
  <div id="source-confirm">
    <p>Incorrect source?</p>
    <div>
      <button id="js-reject-source" class="btn btn-danger">&lsaquo; Reset</button>
    </div>
  </div>
</div>
