<h3>Non-linked data source</h3>
<div>
  <div class="form-group" data-field="citation">
    <label for="source-citation">Citation (required)</label>
    <p class="small">
    Include any identifying information for this source. A full formatted citation is encouraged, but a title alone is sufficient.
    </p>
    <textarea class="form-control" rows=4 name="source-citation" id="source-citation" />
  </div>

  <div class="form-group">
    <label for="source-title">Title</label>
    <input class="form-control" name="source-title" id="source-title" type="text" />
  </div>

  <div class="form-group">
    <label for="source-url">URL</label>
    <input class="form-control" name="source-url" id="source-url" type="text" />
  </div>

  <div class="form-group">
    <label for="source-year-published">Year published</label>
    <input class="form-control" name="source-year-published" id="source-year-published" type="text"/>
  </div>

  <div class="form-group" data-type="creators">
    <label for="source-creators">Creators</label>
    <div class="names"></div>
  </div>
  <div class="form-group" data-type="contributors">
    <label for="source-contributors">Contributors</label>
    <div class="names"></div>
  </div>
</div>

