.period-form {
  width: 500px;

  input, select {
    width: 330px;
  }

  #js-dateType { display: inline-block !important; }
  #js-detect-dateType {
    position: relative; top: 2px;
    width: auto;
  }

  .period-dates {
    margin: 0 0 2em 0;
  }
  .date-input-container {
    display: inline-block;
    width: 240px;
    vertical-align: top;
  }
  .date-input {
    width: 160px;
  }
  .date-input-message {
    height: 1.5em;
    margin-top: 6px;
    color: #777;
    font-size: 12px;
  }
}
