.hide { display: none; }
.period-form {
  width: 540px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 2em;

  input, select {
    width: 310px;
  }

  #js-dateType { display: inline-block !important; }
  #js-detect-dateType {
    position: relative; top: 2px;
    width: auto;
  }

  #js-note {
    width: 420px;
  }

  #js-save-period, #js-cancel-period, #js-delete-period {
    margin-top: 1.5em;
  }

  #js-note {
    width: 100%;
    height: 6em;
  }

  .spatial-coverage-list {
    padding-left: 1em;
    li { list-style-type: none };
  }

  .period-dates {
    margin: 0 0 1em 0;
  }
  /*
  .date-input-container {
    display: inline-block;
    width: 240px;
    vertical-align: top;
  }
  */
  .date-input {
    width: 250px;
  }
  .date-input-message {
    height: 1.5em;
    margin-top: 6px;
    color: #777;
    font-size: 12px;
  }
}

dl.source {
  > div { margin-bottom: 8px; }
}

#source-confirm {
  text-align: center;
  background-color: #fafafa;
  margin: 0 20%;
  padding: 12px 0;
  box-shadow: #eee 2px 2px 2px;
  border-radius: 2px;
  border: 1px solid #999;
}

.twitter-typeahead .tt-hint[disabled] {
  background: none;
}

#nav {
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-radius: 0;

  //.container { position: relative; }
  #spinner {
    //position: absolute;
    //right: 20px;
    //top: 50%;
  }
}

ul.actions-list {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 8px;
    > * {
      width: 100%;
      max-width: 200px;
    }
  }
}

.period-list {
  tr.period {
    > td { vertical-align: middle; }
    .btn { display: none; }
    .edit { width: 70px; height: 50px; }
  }
}
.period-list:not(.editing) > tbody {
  > tr.period {
    &:focus .btn, &:hover .btn { display: inline-block; }
  }
}


#patch-list {
  .patch {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;

    &:hover {
      cursor: pointer;
      background: #f0f0f0;
    }

    &.patch-selected {
      background: #f0f0f0;
    }
  }

}

svg .period text {
  opacity: 0;
}

svg .period:hover {
  //rect { filter: url(#hover-filter); }
  text { opacity: 1 }
}

.no-select, svg .tick text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

// ORCID
#auth-menu li a { display: inline-block }
#connect-orcid-link {
  cursor: pointer;
  color: #999;
}

a#connect-orcid-link:hover {
  color: #338caf;
}

#orcid-id-logo {
  display: block;
  margin: 0 .5em 0 0;
  padding: 0;
  float: left;
}
