.hide { display: none; }

@footerHeight: 60px;
@navBackground: #eee;

html, body, .outer {
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -@footerHeight ;
  padding-bottom: 1.25em;
}

.content-footer, .push {
  height: @footerHeight;
}

.content-footer {
  background: @navBackground;
  border-top: 1px solid #ccc;
}

.version-number-display {
  float: right;
  line-height: @footerHeight;
}


// Error list
.error-list {
  line-height: @footerHeight;
  cursor: pointer;
}
.error-icon {
  height: 22px;
}



// PERIOD FORM

.period-form {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 2em;
}

.period-form-header, .period-form-footer {
  background: #fafafa;
  padding: 14px 20px;
}

.period-form-header {
  h3 { margin: 0; }
  border-bottom: 1px solid #ccc;
  border-radius: 6px 6px 0 0;
}

.period-form-footer {
  border-top: 1px solid #ccc;
  border-radius: 0 0 6px 6px;
  padding-top: 24px;
  padding-bottom:24px;
}

.period-form-body {
  padding: 20px;

  .field-required-label:after {
    content: "*";
    color: red;
    margin-left: 2px;
  }

  h3 {
    margin-top: 0;
  }

  .period-form-panel {
    padding-right: 48px;
  }

  input[type="text"].medium, select {
    width: 310px;
  }
  input.long, textarea.long { width: 100% };

  #js-dateType { display: inline-block !important; }
  #js-detect-dateType {
    position: relative; top: 2px;
    width: auto;
  }

  #js-save-period, #js-cancel-period, #js-delete-period {
    margin-top: 1.5em;
  }

  .spatial-coverage-list {
    padding-left: 1em;
    li { list-style-type: none };
  }

  .period-dates {
    margin: 0 0 1em 0;
  }
}

ul.three-column-list li {
  display: inline-block;
  width: 30%;
  margin-bottom: 4px;
  padding-right: 4px;
}

dl.source {
  > div { margin-bottom: 8px; }
}

.source-confirm {
  text-align: center;
  background-color: #fafafa;
  margin: 0 20%;
  padding: 12px;
  box-shadow: #eee 2px 2px 2px;
  border-radius: 2px;
  border: 1px solid #999;
}

.twitter-typeahead .tt-hint[disabled] {
  background: none;
}

.navbar {
  background: @navBackground;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.actions-menu {
  margin-left: 12px;
}

.navbar-header > div, .navbar-header > ul {
  display: inline-block;
}

ul.actions-list {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 8px;
    > * {
      width: 100%;
      max-width: 200px;
    }
  }
}

.period-list {
  tr.period {
    > td { vertical-align: middle; }
    .btn { display: none; }
    .edit { width: 70px; height: 50px; }
  }
}
.period-list:not(.editing) > tbody {
  > tr.period {
    &:focus .btn, &:hover .btn { display: inline-block; }
  }
}


#patch-list {
  .patch {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;

    &:hover {
      cursor: pointer;
      background: #f0f0f0;
    }

    &.patch-selected {
      background: #f0f0f0;
    }
  }

}

// Backend select
.backend-option {
  padding: 6px 0;
  .remove-backend,
  .remove-backend:hover,
  .remove-backend:active,
  .remove-backend:focus {
    text-decoration: none;
  }

  .remove-backend {
    margin-right: 3px;
  }
  .remove-backend img {
    height: 1.25em;
    width: auto;
  }
}

// Timelines
svg .period text {
  opacity: 0;
}

svg .period:hover {
  //rect { filter: url(#hover-filter); }
  text { opacity: 1 }
}

.no-select, svg .tick text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


// Source add form
#non-ld-source-toggle {
  padding-top: 60px;
  text-align: center;
}

// patch list
.select-patch {
  .toggle-patch-select {
    text-align: center;
    width: 120px;
    user-select: none;
    &.patch-selected {
      background: #f7f7f7;
    }
  }
  label {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }
  input[type="checkbox"] {
    height: 100%;
    margin: 0;
    cursor: pointer;
  }
  dl { padding: 0; margin: 0; }
}

@additionColor: #e6ffe6;

.new-periods-patch-collection td + td {
  background: @additionColor;
}

.patch-collection {
  margin-bottom: 2em;
  .period-patch-source {
    margin-left: 122px;
  }
}

.select-patch-header {
  label, input {
    margin: 0;
    vertical-align: middle;
  }
}

.diff-addition {
  background: @additionColor;
}
.diff-deletion {
  background: #ffe6e6;
  text-decoration: line-through;
}

// SORTIES
thead.nowrap th { white-space: nowrap; }

th.sort-header {
  padding-left: 24px !important;
  padding-right: 24px !important;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

th.sort-header.sort-down,
th.sort-header.sort-up {
  position: relative;
  background: #f9f9f9;
}

th.sort-header.sort-up::before {
  position: absolute;
  left: 6px;
  content: "▲";
}
th.sort-header.sort-down::before {
  position: absolute;
  left: 6px;
  content: "▼";
}


// ORCID
#auth-menu li a { display: inline-block }
.connect-orcid-link {
  cursor: pointer;
  color: #999;
  font-size: 16px;
  line-height: 32px;
}

a.connect-orcid-link:hover {
  color: #338caf;
}

.orcid-id-logo {
  display: block;
  margin: 0 .5em 0 0;
  padding: 0;
  float: left;
}

/* FACETS */
.facet-body {
  border: 1px solid #ccc;
  padding: 0 12px;
  max-height: 250px;
  overflow-y: auto;
}

.facet-result-row td {
  padding: 5px;
}

.facet-result-count {
  color: #999;
}

// Facet header
@facetTitleSize: 18px;
@facetHeaderVerticalPadding: 8px;

.facet-header {
  padding: @facetHeaderVerticalPadding 1em;
  background: #fcfcfc;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}
.facet-title {
  font-weight: bold;
  font-size: @facetTitleSize;
}
.facet-menu a {
  line-height: @facetTitleSize + @facetHeaderVerticalPadding;
  margin-left: .8em;
}


// Pagination
.pages.pagination { margin: 0}
.pagination-container {
  display: flex;
  justify-content: space-between;
}


// Backend home - select navigation style
.select-browse-item {
  h2 {
    font-size: 20px;
    margin: 0 0 4px;
  }
}



// Period display table
.period-detail-table {
  table-layout: fixed;
}

.period-details-row {
  word-wrap: break-word;
}


// Autocomplete widget
.autocomplete-results {
  position: absolute;
  padding: 0;
  width: 80%;
  margin-top: -14px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  // (individual results)
.autocomplete-result {
  padding: .25em 1em;
}
.autocomplete-result:hover,
.autocomplete-result.autocomplete-result-focused {
  background: #eee;
}

// Dropdowns (generic)
.dropdown-menu > li > a:hover {
  background: #eee;
}

// Period range brush
.brush .extent {
  cursor: move;
  fill: rgba(164, 164, 164, .3);
  stroke: black;
  stroke-width: 1px;
  opacity: 1;
}
