<% if (!diffs.length) { %>
<p>No changes from dataset.</p>
<% } else { %>
<%
var description = diffs.asDescription();
var _ = require('underscore');
%>
<h3>Total changes: <%= diffs.length %></h3>

<hr />

<%
  function makeRow(patch, template) {
    return template({ patch: patch });
  }
%>

<% if (description.periodCollection.add.length) { %>
<h4>New period collections</h4>
<div>
  <input type="checkbox" class="select-all-patches" />
  <label>Select all</label>
</div>
<table class="table">
  <tbody>
  <% description.periodCollection.add.forEach(function (cid) {
    print(makeRow(diffs.get(cid), require('./changes/period_collection_add.html')));
  }); %>
  </tbody>
</table>
<% } %>

<% if (!_.isEmpty(description.periodCollection.edit)) { %>
<h4>Edited period collections</h4>
<% } %>

<% if (description.period.add.length) { %>
<h4>New periods</h4>
<div>
  <input type="checkbox" class="select-all-patches" />
  <label>Select all</label>
</div>
<%= periodAdditions %>
<% } %>

<% if (!_.isEmpty(description.period.edit)) { %>
<h4>Edited periods</h4>
<div>
  <input type="checkbox" class="select-all-patches" />
  <label>Select all</label>
</div>
<%= periodEdits %>
<% } %>

<% } %>

<hr/>
<button id="js-accept-patches" class="btn btn-primary">Apply selected changes</button>
