<% if (!diffs.length) { %>
<p>No changes from dataset.</p>
<% } else { %>
<%
var description = diffs.asDescription();
var _ = require('underscore');
%>

<%
  function makeRow(patch, template) {
    return template({ patch: patch });
  }
%>

<% if (description.periodCollection.add.length) { %>
<div class="patch-collection">
  <h3>New period collections</h3>
  <div class="select-patch-header">
    <label>
      <input type="checkbox" class="select-all-patches" />
      Select all
    </label>
  </div>
  <br/>
  <table class="table table-bordered">
    <tbody>
    <% description.periodCollection.add.forEach(function (cid) {
      print(makeRow(diffs.get(cid), require('./changes/period_collection_add.html')));
    }); %>
    </tbody>
  </table>
</div>
<% } %>

<% if (!_.isEmpty(description.periodCollection.edit)) { %>
<h3>Edited period collections</h3>
<% } %>

<% if (description.period.add.length) { %>
<div class="patch-collection new-periods-patch-collection">
  <h3>New periods</h3>
  <div class="select-patch-header">
    <label>
      <input type="checkbox" class="select-all-patches" />
      Select all
    </label>
  </div>
  <%= periodAdditions %>
</div>
<% } %>

<% if (!_.isEmpty(description.period.edit)) { %>
<div class="patch-collection">
  <h3>Edited periods</h3>
  <div class="select-patch-header">
    <label>
      <input type="checkbox" class="select-all-patches" />
      Select all
    </label>
  </div>
  <%= periodEdits %>
</div>
<% } %>

<% } %>

<hr/>
<button id="js-accept-patches" class="btn btn-primary">Apply selected changes</button>
