<div class="dropdown">
  <a href="#" data-toggle="dropdown">
    <img class="error-icon" src="/lib/noun_2189_cc.svg">Errors (<%= errors.length %>)
  </a>

  <ul style="bottom: 100%; top: auto;" class="dropdown-menu">
    <% errors.forEach(function (err, idx) { %>
    <li class="dropdown-header"><%= err.get('time').toLocaleString() %></li>
    <li>
      <a class="js-error-item" href="#"
        data-no-redirect="true"
        data-cid="<%= err.cid %>">
        <%= err.get('error') %>
      </a>
    </li>
    <% if (idx !== errors.length - 1) { %>
    <li class="divider"></li>
    <% } %>
    <% }); %>
    <li class="divider"></li>
    <li style="text-align: center">
      <button class="btn btn-danger js-clear-errors">Clear errors</button>
    </li>
  </ul>
</div>
