<h2>A PATCH</h2>
<div>
  <h3>Changes</h3>
  <% patch.patch_text.forEach(function (change) { %>
  <div>
    <% if (change.op === 'add' ) { %>
    <h4>Adding content at <%= change.path %></h4>
    <pre>
      <%= change.value %>
    </pre>
    <% } else if (change.op === 'remove') { %>
    <h4>Removing content at <%= change.path %></h4>
    <% } else if (change.open === 'change') { %>
    <h4>Replacing content at <%= change.path %></h4>

    <% } else { %>
    <h4>UNKNOWN ACTION</h4>

    <% } %>
  </div>
  <% }) %>

</div>

<div>
  <button class="btn btn-primary">Accept</button>
</div>
