<table class="table table-hover">
  <thead>
    <tr>
      <th>Source title</th>
      <th>No. of definitions</th>
      <th>Time span</th>
    </tr>
  </thead>
  <tbody>
  <% periodizations.forEach(function (periodization) { %>
    <tr>
      <td>
        <a href="#periodizations/<%= encodeURIComponent(periodization.id) %>/">
          <%= periodization.get('source').get('title') %>
        </a>
      </td>
      <td><%= periodization.get('definitions').length %></td>
      <% var timeSpan = periodization.getTimespan() %>
      <td>
        <% if (timeSpan.lower && timeSpan.upper) { %>
        <%= timeSpan.lower.get('label') %> – <%= timeSpan.upper.get('label') %>
        <% } %>
      </td>
    </tr>
  <% }); %>
  </tbody>
</table>
