<table class="table table-hover">
  <thead>
    <tr>
      <th>Source title</th>
      <th>No. of definitions</th>
      <th>Time span start</th>
      <th>Time span stop</th>
    </tr>
  </thead>
  <tbody>
  <% periodCollections.forEach(function (periodCollection) { %>
    <tr>
      <td>
        <a href="#<%= backend.path %>periodCollections/<%= encodeURIComponent(periodCollection.id) %>/">
          <%= periodCollection.source %>
        </a>
      </td>
      <td><%= periodCollection.definitions %></td>
      <td data-sort="<%= periodCollection.earliest && periodCollection.earliest.iso %>">
        <%= periodCollection.earliest && periodCollection.earliest.label %>
      </td>
      <td data-sort="<%= periodCollection.latest && periodCollection.latest.iso %>">
        <%= periodCollection.earliest && periodCollection.latest.label %>
      </td>
    </tr>
  <% }); %>
  </tbody>
</table>
