<% var _ = require('underscore') %>
<dl class="dl-horizontal">
  <div class="field">
    <dt>
      Original label
      <% if (!_.isEmpty(period.originalLabel)) { %>
      (<%= Object.keys(period.originalLabel)[0] %>)
      <% } %>
    </dt>
    <dd><%= period.label %></dd>
  </div>

  <% if (period.alternateLabel) { %>
  <div class="field">
    <dt>Alternate labels</dt>
    <dd>
      <ul style="margin: 0" class="list-unstyled">
      <% _.forEach(period.alternateLabel, function (val, lang) { %>
      <li><%= lang %>: <%= val %></li>
      <% }); %>
      </ul>
    </dd>
  </div>
  <% } %>

  <% if (period.locator) { %>
  <div class="field">
    <dt>Locator</dt>
    <dd><%= period.locator %></dd>
  </div>
  <% } %>

  <% if (period.url) { %>
  <div class="field">
    <dt>URL</dt>
    <dd><%= period.url %></dd>
  </div>
  <% } %>

  <% if (period.sameAs) { %>
  <div class="field">
    <dt>Same as</dt>
    <dd><%= period.sameAs %></dd>
  </div>
  <% } %>

  <% if (period.spatialCoverageDescription) { %>
  <div class="field">
    <dt>Spatial coverage description</dt>
    <dd><%= period.spatialCoverageDescription %></dd>
  </div>
  <% } %>

  <% if (period.spatialCoverage && period.spatialCoverage.length) { %>
  <div class="field">
    <dt>Spatial coverage</dt>
    <dd>
      <ul style="margin: 0" class="list-unstyled">
        <% period.spatialCoverage.forEach(function (coverage) { %>
        <li><%= coverage.label %></li>
        <% }); %>
      </ul>
    </dd>
  </div>
  <% } %>

  <div class="field">
  <dt>Start</dt>
    <%
    var startIn = period.start.in || {};
    if (startIn.hasOwnProperty('earliestYear')) {
    var startParsed = 'Earliest: ' + period.start.in.earliestYear + ', Latest: ' + period.start.in.latestYear;
    } else if (startIn.hasOwnProperty('year')) {
    var startParsed = period.start.in.year;
    } else {
    var startParsed = 'unknown';
    }
    %>
  <dd><%= period.start.label %> (ISO Value: <%= startParsed %>)</dd>
  </div>

  <div class="field">
  <dt>Stop</dt>
    <%
    var stopIn = period.stop.in || {};
    if (stopIn.hasOwnProperty('earliestYear')) {
    var stopParsed = 'Earliest: ' + period.stop.in.earliestYear + ', Latest: ' + period.stop.in.latestYear;
    } else if (stopIn.hasOwnProperty('year')) {
    var stopParsed = period.stop.in.year;
    } else {
    var stopParsed = 'unknown';
    }
    %>
  <dd><%= period.stop.label %> (ISO Value: <%= stopParsed %></dd>
  </div>

  <% if (period.note) { %>
  <div class="field">
    <dt>Source notes</dt>
    <dd><%= period.note %></dd>
  </div>
  <% } %>

  <% if (period.editorialNote) { %>
  <div class="field">
    <dt>Editorial notes</dt>
    <dd><%= period.editorialNote %></dd>
  </div>
  <% } %>
</dl>
