<table class="table table-hover">
  <thead>
    <tr>
      <th>Source title</th>
      <th>No. of definitions</th>
      <th>Time span</th>
    </tr>
  </thead>
  <tbody>
  <% periodCollections.forEach(function (periodCollection) { %>
    <tr>
      <td>
        <a href="#periodCollections/<%= encodeURIComponent(periodCollection.id) %>/">
          <%
          var source = periodCollection.get('source');
          print(source.get('title') || source.get('partOf').title);
          %>
        </a>
      </td>
      <td><%= periodCollection.get('definitions').length %></td>
      <% var timeSpan = periodCollection.getTimespan() %>
      <td>
        <% if (timeSpan.lower && timeSpan.upper) { %>
        <%= timeSpan.lower.get('label') %> – <%= timeSpan.upper.get('label') %>
        <% } %>
      </td>
    </tr>
  <% }); %>
  </tbody>
</table>
