<table class="table table-hover period-list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Coverage</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
  <% if (periods.length === 0 || Object.getOwnPropertyNames(periods).length === 0) { %>
    <tr><td><p>No periods defined yet.</p></td></tr>
  <% } else {%>
    <% Object.keys(periods).forEach(function (key) { %>
    <% var period = periods[key] %>
    <tr class="period" tabindex="0" data-period-id="<%= period.id %>">
      <td class="edit"><button class="edit-period btn btn-primary btn-sm">Edit</button></td>
      <td><%= period.label %></td>
      <td><%= period.start.label %></td>
      <td><%= period.stop.label %></td>
      <td><%= period.spatialCoverage.map(function (s) { return s.label }).join(', ') %></td>
      <td><%= period.note %></td>
    </tr>
    <% }); %>
  <% } %>
  <tbody>
</table>
