<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>Stop</th>
      <th>Coverage</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
  <% if (!periods.length) { %>
    <tr><td><p>No periods defined yet.</p></td></tr>
  <% } else {%>
    <% periods.forEach(function (period) { %>
    <tr>
      <td><%= period.label %></td>
      <td><%= period.start.label %></td>
      <td><%= period.stop.label %></td>
      <td><%= period.spatialCoverage.map(function (s) { return s.label }).join(', ') %></td>
      <td><%= period.note %></td>
    </tr>
    <% }); %>
  <% } %>
  <tbody>
</table>
