<div>
  <p>
  Period collections are based on source material. Paste text in the block below that contains a URL from a site supported by PeriodO.
  </p>
  <textarea></textarea>
  <div class="message" style="position: relative;">
    <span id="source-loading"></span>
    <span id="message-text"></span>
  </div>
  <p>Currently supported formats:</p>
  <ul>
    <li>URLs from the <a href="http://worldcat.org">WorldCat</a> catalog.</li>
    <li>URLs from <a href="http://dx.doi.org">DOI lookup service</a>, searchable with <a href="http://crossref.org">CrossRef</a></li>
    <li>A DOI in the format doi:xxx.yyy (as included in many citation styles)</li>
  </ul>
</div>
