<%
var partOf = !!source.partOf;
%>
<dl class="dl-horizontal source">
  <div>
    <dt>Title</dt>
    <dd><%= source.title || partOf && source.partOf.title %></dd>
  </div>

    <% var url = source.id || (source.partOf && source.partOf.id) || (source.url && [].concat(source.url)[0]) %>
    <% if (url) { %>
  <div>
    <dt>URL</dt>
    <dd><a href="<%= url %>"><%= url %></a></dd>
  </div>
  <% } %>

  <div>
    <dt>Year published</dt>
    <dd><%= source.yearPublished || (partOf && source.partOf.yearPublished) || 'unknown' %></dd>
  </div>

  <% if (source.creators && source.creators.length) { %>
  <div>
    <dt>Creators</dt>
    <% source.creators.forEach(function (creator) { %>
    <dd><%= creator.name %></dd>
    <% }); %>
  </div>
  <% } %>

  <% if (source.contributors && source.contributors.length) { %>
  <div>
    <dt>Contributors</dt>
    <% source.contributors.forEach(function (contributor) { %>
    <dd><%= contributor.name %></dd>
    <% }); %>
  </div>
  <% } %>
</dl>
