<h3>Non-linked data source</h3>
<p>

</p>
<div class="col-md-6">
<form>
  <div class="form-group" data-field="citation">
    <label for="source-citation">Citation (required)</label>
    <p class="small">
    Include any identifying information for this source. A full formatted citation is encouraged, but a title alone is sufficient.
    </p>
    <textarea class="form-control" rows=4 name="source-citation" id="source-citation" />
  </div>

  <div class="form-group">
    <label for="source-url">URL</label>
    <input class="form-control" name="source-url" id="source-url" type="text" />
  </div>

  <div class="form-group">
    <label for="source-year-published">Year published</label>
    <input class="form-control" name="source-year-published" id="source-year-published" type="text"/>
  </div>

  <div class="form-group" data-type="creators">
    <label for="source-creators">Creators</label>
    <div class="names"></div>
  </div>
  <div class="form-group" data-type="contributors">
    <label for="source-contributors">Contributors</label>
    <div class="names"></div>
  </div>
</form>
<div class="text-center well clearfix">
  <div class="pull-left">
    <button id="js-cancel" class="btn btn-danger toggle-form-type">Cancel</button>
  </div>
  <div class="pull-right">
    <button id="js-save" class="btn btn-primary">Save</button>
  </div>
</div>
</div>
