<h1>Sync</h1>

<div>
  <label for="js-sync-root">URL</label>
  <input type="text" name="js-sync-root" id="js-sync-root" value="http://ptgolden.org/periodo_server/" />
  <button type="button" class="btn btn-default" id="js-fetch-data">Fetch</button>
  <span id="js-sync-loading" style="position: relative;"></span>
</div>

<div id="js-sync-success"></div>

<div id="js-sync-dialog">
  <h2>Accept periods?</h2>
  <div>
    <button id="js-accept-new-periods" class="btn btn-primary">Yes</button>
    <span id="js-sync-saving" style="position: relative;"></span>
  </div>
</div>

<div id="js-list-periods">
  <h2>Fetched periods</h2>
  <div id="fetched-periods-list"></div>
</div>
