<div>

  <% if (source) { %>
  <h4 class="period-patch-source">In source: <%= source %></h4>
  <% } %>

  <table class="table table-bordered">
    <tbody>
      <% changes.forEach(function (change) { %>
      <tr class="select-patch">
        <td class="toggle-patch-select">
          <label>
            <input type="checkbox"
                   data-patches='<%= JSON.stringify(change.patches).replace(/'/g, "&#39;") %>' />
          </label>
        </td>
        <td>
          <%= change.html %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
