<div class="row">
  <div class="col-md-6 period-form-panel">
    <div class="form-group" data-error-container="label">
      <label class="control-label field-required-label"
             for="js-label">Original label</label>
      <div class="input-group">
        <span class="input-group-addon btn btn-default"
              data-field="label-language"></span>

        <input class="form-control"
               name="js-label"
               data-field="label"
               type="text" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Alternate labels</label>
      <div data-field="alternate-labels"></div>
    </div>
  </div>

  <div class="col-md-6 period-form-panel">
    <div class="form-group" data-error-container="locator">
      <label class="control-label"
             for="js-locator">Locator</label>
      <input class="js-locator form-control"
             name="js-locator"
             data-field="locator"
             placeholder="Position within the source (e.g. page 75)"
             type="text" />
    </div>

    <div class="form-group" data-error-container="same-as">
      <label class="control-label" for="js-same-as">Same As</label>
      <input class="js-same-as form-control long"
             name="js-same-as"
             data-field="same-as"
             placeholder="URL for this period in an external linked dataset"
             type="text" />
    </div>
  </div>

</div>
