<div class="period-form">
  <div id="js-period-general"></div>

  <hr />

  <div id="js-spatial-coverage"></div>

  <hr />

  <div id="js-temporal-coverage"></div>

  <hr />

  <div class="form-group">
    <label class="control-label" for="js-note">Note</label>
    <p class="small">Notes derived from the source</p>
    <textarea class="form-control" id="js-note"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label" for="js-editorial-note">Editorial note</label>
    <p class="small">Notes about the import process</p>
    <textarea class="form-control" id="js-editorial-note"></textarea>
  </div>

  <div>
    <button type="button" id="js-save-period" class="btn btn-primary">Save</button>
    <button type="button" id="js-cancel-period" class="btn btn-default">Cancel</button>
    <button type="button" id="js-delete-period" class="btn btn-danger pull-right">Delete</button>
  </div>

</div>
