<h3>Temporal coverage</h3>

<div>
  <label>
    <input id="js-autoparse-dates" type="checkbox" />
    Parse dates automatically
  </label>
</div>

<div data-error-container="dates"></div>

<div class="period-dates form-group">

  <div class="date-input-container date-input-start row">
    <div class="col-md-12">
      <h4>Start</h4>
    </div>
    <div class="col-md-12">
      <label class="control-label field-required-label" for="js-startDate">Label</label>
      <input class="form-control label-input" id="js-startLabel" type="text" />
    </div>

    <div class="date-single-year col-md-4">
      <label for="js-startYear">Year</label>
      <input class="form-control year-input" id="js-startYear" type="text" />
    </div>

    <div class="date-multi-year hide">
      <div class="col-md-4">
        <label for="js-startEarliest">Earliest year</label>
        <input class="form-control earliest-year-input" id="js-startEarliest" type="text" />
      </div>
      <div class="col-md-4">
        <label for="js-startLatest">Latest year</label>
        <input class="form-control latest-year-input" id="js-startLatest" type="text" />
      </div>
    </div>
  </div>

  <hr/>

  <div class="date-input-container date-input-stop row">
    <div class="col-md-12"><h4>Stop</h4></div>

    <div class="col-md-12">
      <label class="control-label field-required-label" for="js-endDate">Label</label>
      <input class="form-control label-input" id="js-endLabel" type="text" />
    </div>

    <div class="date-single-year col-md-4">
      <label for="js-startYear">Year</label>
      <input class="form-control year-input" id="js-startYear" type="text" />
    </div>

    <div class="date-multi-year hide">
      <div class="col-md-4">
        <label for="js-startEarliest">Earliest year</label>
        <input class="form-control earliest-year-input" id="js-startEarliest" type="text" />
      </div>
      <div class="col-md-4">
        <label for="js-startLatest">Latest year</label>
        <input class="form-control latest-year-input" id="js-startLatest" type="text" />
      </div>
    </div>
  </div>

</div>
