<h3>Temporal coverage</h3>
<div data-error-container="dates"></div>

<div class="period-dates form-group row">

  <div class="date-input-container">
    <label class="control-label field-required-label" for="js-startDate">Start</label>
    <div>
      <input class="form-control date-input" id="js-startDate" type="text" />
      <div class="date-input-message"></div>
    </div>
  </div>

  <div class="date-input-container">
    <label class="control-label field-required-label" for="js-endDate">Stop</label>
    <div>
      <input class="form-control date-input" id="js-endDate" type="text" />
      <div class="date-input-message"></div>
    </div>
  </div>
</div>
